## Read row dataset

In [7]:
from dunnhumby import *
import pandas as pd

data_base_dir = "../../datasets/dunnhumby/"
raw_data = load_raw(
    data_base_dir
)
raw_data.head(10)

loading raw data completed

           col_order  col_user  col_item col_flag  col_rating  col_timestamp
2592448  42289544807       623   1008673    train           1        7112343
2591966  42289474243       820  18038469    train           1        7112334
2591965  42289474243       820  10149684    train           1        7112334
2591964  42289474243       820    973016    train           1        7112334
2591963  42289474243       820    934131    train           1        7112334
2591962  42289474243       820    911974    train           1        7112334
2591961  42289474243       820    878141    train           1        7112334
2591386  42289363311      1651   1114483    train           1        7112301
2591387  42289363311      1651   9526239    train           1        7112301
2592825  42289604274      2122    949616    train           1        7112259

In [11]:
product_data = data_base_dir + 'raw/product.csv'
products  = pd.read_csv(product_data)
products.head()

,PRODUCT_ID,MANUFACTURER,DEPARTMENT,BRAND,COMMODITY_DESC,SUB_COMMODITY_DESC,CURR_SIZE_OF_PRODUCT
0,25671,2,GROCERY,National,FRZN ICE,ICE - CRUSHED/CUBED,22 LB
1,26081,2,MISC. TRANS.,National,NO COMMODITY DESCRIPTION,NO SUBCOMMODITY DESCRIPTION,
2,26093,69,PASTRY,Private,BREAD,BREAD:ITALIAN/FRENCH,
3,26190,69,GROCERY,Private,FRUIT - SHELF STABLE,APPLE SAUCE,50 OZ
4,26355,69,GROCERY,Private,COOKIES/CONES,SPECIALTY COOKIES,14 OZ

In [13]:
products['PRODUCT_ID'].max(),products['PRODUCT_ID'].min()

(18316298, 25671)